@charset "UTF-8";

// ------------------------------------------------------
// Fonts
//

$font-sans-serif: sans-serif;
$font-serif: serif;

// ------------------------------------------------------
// Colors
//

$color-text: #333;

// ------------------------------------------------------
// Utilities
//

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
